{% extends 'base.html' %}
{% block content %}
<h1 class="mt-4 mb-4 text-primary">About App</h1>
<div class="mt-4 mb-4">
    <h2>My First Django Project</h2>
    <p>A Python / Django-based web application that takes a users first name, last name, email address, date, and occupation status and stores them in a SQLite3 database.
    The app also has an about page (the page you are currently on) which describes the app in more detail, a page with the contact information of the programmer who made the app, and an admin mode
    (courtesy of Django) which allows a superuser to access and modify data in the database.</p>
</div>
{% endblock %}
